
<link href="~/Content/themes/jquery-ui-1.11.3.ui-smoothness/jquery-ui.css" rel="stylesheet" />
<h2>@ViewBag.Title</h2>
<p id="MessageToClient" data-bind="text: MessageToClient" ></p>
<div class="container">
    <form class="form-horizontal" role="form" id="studentEditForm">
        <div class="form-group">
            <label class="control-label col-sm-2" for="firstName">First name: </label>
            <input class="form-control col-sm-10" name="firstName" id="firstName" data-bind="value: FirstName, event: {change: flagStudentAsEdited}" />
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="lastName">Last name: </label>
            <input class="form-control col-sm-10" name="lastName" id="lastName" data-bind="value: LastName, event: {change: flagStudentAsEdited}" />
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="gender">Gender: </label>
            <input class="form-control col-sm-10" name="gender" id="gender" data-bind="value: Gender, event: {change: flagStudentAsEdited}" />
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="dateOfBirth">Date of birth: </label>
            <input class="form-control col-sm-10" name="dateOfBirth" id="dateOfBirth" data-bind="datepicker: DateOfBirth, datepickerOptions: {changeYear:true,changeMonth:true, dateFormat: 'dd/mm/yy', yearRange: '-100:+0'}, event: {change: flagStudentAsEdited}" />
        </div>

        <table class="table table-striped">
            <tr>
                <th>Exam Subject</th>
                <th>Date Taken</th>
                <th>Maximum Marks</th>
                <th>Marks Obtained</th>
                <th>Per cent</th>
                <th>Grade</th>
                <th><button data-bind="click: addStudentExam" class="btn btn-info btn-xs">Add</button> </th>
            </tr>
            <tbody data-bind="foreach: ExamsTaken">
                <tr>
                    <td class="form-group"><input name="Subject" class="form-control input-sm text-right" data-bind="attr: {'id': 'Subject_' + $index()}, value: Subject, event: {change: flagExamAsEdited},  hasfocus: true" /></td>
                    <td class="form-group"><input name="DateTaken" class="form-control input-sm text-right" data-bind="attr: {'id': 'DateTaken_' + $index()},value: DateTaken, event: {change: flagExamAsEdited}" /></td>
                    <td class="form-group"><input name="MaximumMarks" class="form-control input-sm text-right" data-bind="attr: {'id': 'MaximumMarks_' + $index()},value: MaximumMarks, event: {change: flagExamAsEdited}" /></td>
                    <td class="form-group"><input name="MarksObtained" class="form-control input-sm text-right" data-bind="attr: {'id': 'MarksObtained_' + $index()},value: MarksObtained, event: {change: flagExamAsEdited}" /></td>
                    <td class="form-group" width="2%"><span class="form-control input-sm text-right" data-bind="text: marksObtainedAsPercentage"></span></td>
                    <td class="form-group"><input class="form-control input-sm text-right" data-bind="value: examGrade" /></td>
                    <td class="form-group"><button class="btn btn-danger btn-xs" data-bind="click: $parent.deleteExamItem">Delete</button></td>
                </tr>
                
            </tbody>
            <tr>
                <td colspan="7" class="text-right" data-bind="text: overallMarks"></td>
            </tr>

        </table>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a href="/" class="btn btn-default btn-sm">&laquo;Back to list</a>
            </div>
        </div>
    </form>
</div>

